:root {
  --color-black: #1f1e1e;
  --color-dark: #3c3c3c;
  --color-white: #ffffff;
  --color-green: #425e44;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url(img/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
}
.header__list {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  flex-wrap: wrap;
}
.header__list-item :nth-child(1) {
  margin-left: 42px;
}
.header__link {
  color: var(--color-white);
  display: inline-block;
  text-transform: uppercase;
  padding: 2px;
  cursor: pointer;
}
.header__possibilities {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  flex-wrap: wrap;
}
.header__span {
  display: inline-block;
  color: var(--color-white);
  cursor: pointer;
}
.header__span:nth-child(4) {
  margin-right: 41px;
}

.promo__container {
  position: relative;
  min-height: 683px;
}
.promo__title {
  max-width: 450px;
  margin-top: 69px;
  margin-left: 42px;
  /* border: 1px solid black; */
}
.promo__heading {
  font-size: 63px;
  line-height: 65px;
  color: var(--color-white);
}
.link {
  padding: 15px 56px 15px 57px;
  border: 1px solid var(--color-black);
  background-color: var(--color-black);
  border-radius: 4px;
  color: var(--color-white);
  display: inline-block;
  font-size: 9px;
}
.promo__link-shop {
  margin-top: 36px;
}
.promo__cookies {
  max-width: 286px;
  text-transform: uppercase;
  color: var(--color-dark);
  position: absolute;
  right: 75px;
  bottom: 47px;
}
.promo__cookies-title {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 18px;
}
.promo__cookies-text {
  line-height: 17px;
  font-size: 9px;
}
.promo__cookies-form {
  margin-top: 18px;
  /* border: 1px solid black; */
}
.promo__cookies-button {
  font-size: 8px;
  color: var(--color-dark);
  padding: 5px;
  background-color: transparent;
  display: inline-block;
  margin-left: 36px;
}
.promo__cookies-button_color {
  color: var(--color-white);
}

.paint__container {
  padding-top: 59px;
  padding-bottom: 40px;
}
.paint__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.paint__item {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
}
.paint__item-number {
  font-size: 18px;
}
.paint__item_color {
  color: var(--color-dark);
}
.paint__item-text {
  display: flex;
  flex-direction: column;
}
.paint__item-title {
  font-size: 9px;
}

.drop__heading {
  color: var(--color-black);
  font-size: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 76px;
}
.drop__colors {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
  flex-wrap: wrap;
}
.drop__first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.drop__color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  flex-wrap: wrap;
}
.drop__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}
.drop__text-title {
  text-transform: uppercase;
  color: var(--color-green);
  font-size: 9px;
}
.drop__second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.drop__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop__link-shop {
  margin-top: 45px;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__box {
  text-transform: uppercase;
  max-width: 681px;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title__span {
  display: inline-block;
  font-size: 9px;
  margin-bottom: 16px;
  margin-top: 112px;
}
.title__text {
  font-size: 38px;
  line-height: 45px;
  text-indent: 62px;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 95px;
  border-bottom: 1px solid rgba(31, 30, 30, 0.1);
}
